*{  /* The * refers to the whole page! */  
    margin: 0;
    padding: 0; /* Removes the space on the page,*/
}

/* elements */
body{
    background-color: black;
}

header{
    background-color: #141418;;
    height: 100px;
    width: 100px;  /* OLHA ISSO AQUI PORRAAAAAA*/
}

footer{
    clear: both;
    background-color: blue;
    height: 60px;
}

/* IDS */

#div_left{
    background-color: red;
    min-height: 200px;
    width: 70%;
    float: left;
}

#div_right{
    background-color: yellow;
    height: 200px;
    width: 30%;
    float: right;
}

#logo{
    height: 80px;
    margin: 10px;
}
/* CLASSES */    
.container{
    width: 500px;   /* OLHA ISSO AQUI TBM HEIN */
    margin: 0 auto;
}

